<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
     <div id="mount-point"></div>
</body>

<script type="text/jsx">
    /** @jsx React.DOM */
    var Input = React.createClass({
        updateLabel: function(event){
            this.setState({value: event.target.value});
        },
        getInitialState: function(){
            return {
                value: ''
            }
        },
        componentWillMount: function(){
            this.setState({value: this.state.value})
        },
        render: function(){
            return (
                <div className="update-label">
                    <ul>
                        <li><a href="default.asp">Tidal Analytics</a></li>
                        <li><a href="news.asp">Dashboards (Current: {{ dashboard_current }})</a></li>
                        <li><a href="contact.asp">Widgets</a></li>
                    </ul>

                    <div className='hn-widget'>
                        <h1> HackerNews User: {{ dashboard_name }}</h1>
                        <h1> Date Created: {{ date }}</h1>
                        <h1> Karma: {{karma}} </h1>
                    </div>

                    <div className='hn-widget'>
                        <h1> {{ sample_tweet }} </h1>
                        <h1> - {{ twitter_name }} </h1>
                    </div>
                </div>
        )
    }
});

var Label = React.createClass({
    render: function(){
        return (
        <div class="my-label">
        <h2>{this.props.value}</h2>
        </div>
        )
    }
});

React.render(<Input/>, document.getElementById('mount-point'));
</script>

</html>